body {
    background-color: white;
}
h1 {
    color: black;
    padding-bottom: 10%;
    left: 46%;
    position: fixed
}
form {
    background-color: #7957f2d2;
    position: fixed;
    top: 6%;
    bottom: 0;
    right: 50%;
    left: 35%;
    border-radius: 5px;
    display: flex;
    width: 30%;
    height: 88vh;
    flex-direction: column;
    align-items: center;
}
input[type=submit] {
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 8vh;
    width: 100px;
    position: fixed;
    left: 46%
}
input[type=text], input[type=email], input[type=password], input[type=text]{
    width: 300px;
    border-radius: 5px;
    height: 5vh;
    flex-wrap: wrap;
}
p {
    position: fixed;
    top: 25%
}